
@{
    ViewBag.Title = "showConsultantsNearMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>showConsultantsNearMe</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNaS_l28ekwUTqepb0NBs72ep1QGcmcMc&callback=initMap&libraries=&v=weekly"
            defer></script>
    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            width: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        // Initialize and add the map
        function initMap() {
            const uluru = { lat: 25.2744, lng: 133.7751 };
            var markersArray = [];
            // The map, centered at Uluru
            const _map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: uluru,
            });
            @foreach(var item in Model)
            {
                //var pos = {lat: item.latitude, lng:item.longitude};
                //const marker_ = new google.maps.Marker({
                //    position: location2,
                //    map: map,
                //});
                <text>
                markersArray.push(new google.maps.Marker({
                 draggable: true,
                 animation: google.maps.Animation.DROP,
                 position: new google.maps.LatLng(@item.latitude, @item.longitude, false),
                 title: 'Whatever title',
                    map: _map

                }));
            </text>
            }

        }
    </script>
</head>
<body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div><br />
    <div>
        @Html.ActionLink("Back to Home Page", "Index")
    </div>

</body>
</html>
