@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to E-MindSpot</h1>
    <p class="lead">   When I is replaced by We, illness becomes Wellness. Talk, Express, and Relax!</p>
    
</div>

<img src="~/image2.jpg" alt="Italian Trulli" width="1200dp" height="500dp">

<div class="row">
   
   
</div>